{
  "openapi": "3.1.0",
  "info": {
    "contact": {
      "email": "team@aventure.vc",
      "name": "aVenture"
    },
    "description": "Public API docs for aVenture.vc, private company research data on their staff/team, products & services, fundraising and investors, and more.",
    "title": "aVenture Public API Docs",
    "version": "0.7.279"
  },
  "externalDocs": {
    "description": "Documentation and GitHub repositories: [aventure-docs](https://github.com/aventurevc/aventure-docs), [aventure-cli](https://github.com/aventurevc/aventure-cli), [aventure-mcp](https://github.com/aventurevc/aventure-mcp), [aventure-api](https://github.com/aventurevc/aventure-api).",
    "url": "https://docs.aventure.vc"
  },
  "servers": [
    {
      "url": "https://api.aventure.vc",
      "description": "aVenture API"
    }
  ],
  "tags": [
    {
      "description": "Authentication entry points and sign-in configuration",
      "name": "Auth"
    },
    {
      "description": "Crawl screenshot metadata endpoints — S3 key is the binary asset source of truth",
      "name": "Screenshots"
    },
    {
      "description": "Entity and person text endpoints.",
      "name": "Texts"
    },
    {
      "description": "Companies, funds, investors, accelerators, and other organizations",
      "name": "Entities"
    },
    {
      "description": "Canonical acquisition event CRUD. The path entity is acquired; acquirerEntityId is the buyer.",
      "name": "Entity Acquisitions"
    },
    {
      "description": "Batch person list and detail endpoints.",
      "name": "Person Batch"
    },
    {
      "description": "Read browser sign-in availability and CLI OAuth configuration",
      "name": "Providers"
    },
    {
      "description": "Search companies, people, and news together, or search the live web",
      "name": "Search"
    },
    {
      "description": "Founders, executives, and investors in the venture ecosystem",
      "name": "People"
    },
    {
      "description": "Person-entity association routes",
      "name": "Entity Person Associations"
    },
    {
      "description": "SEC EDGAR filings, tickers, and CIKs for public companies",
      "name": "SEC"
    },
    {
      "description": "Versioned agent prompt and skill documents",
      "name": "Agent Instructions"
    },
    {
      "description": "Related companies, trending news, and batch ingestion",
      "name": "Semantic Similarity"
    },
    {
      "description": "Funding rounds and their participating investors for an entity",
      "name": "Entity Fundraise"
    },
    {
      "description": "Venture news articles linked to companies and people",
      "name": "News"
    },
    {
      "description": "Grounded natural-language platform help with citations",
      "name": "Agent Help"
    },
    {
      "description": "External identifier mappings (EIN, SEC CIK, ticker, LEI, DUNS, ...) for entities and people, plus reverse lookup from an identifier to its owner.",
      "name": "Unique IDs"
    },
    {
      "description": "Browser-approved CLI credential delivery",
      "name": "CLI Authorizations"
    },
    {
      "description": "Entity and person URL link endpoints.",
      "name": "URL Links"
    },
    {
      "description": "Location-based company directory and sitemap endpoints",
      "name": "Addresses"
    },
    {
      "description": "Advisory, non-exhaustive per-slot semantic suggestions with completion coverage.",
      "name": "Entity Suggestions"
    },
    {
      "description": "Entity filter discovery: tag counts, type counts, refinement metadata, and option set search used to drive entity-listing UIs.",
      "name": "Entity Filters"
    },
    {
      "description": "Sitemap boundary metadata for index generation",
      "name": "Sitemap"
    },
    {
      "description": "Person filter, letter-count, and search metadata endpoints used to drive people-listing UI affordances.",
      "name": "Person Metadata"
    },
    {
      "description": "Read and mutate a news article by its canonical numeric identifier",
      "name": "By ID"
    },
    {
      "description": "Logos, photos, and thumbnails for companies, people, and news",
      "name": "Media"
    },
    {
      "description": "Universal identifier resolver: map any handle — stable public id, UUID, external registry id (ticker, LEI, EIN, ...), or slug — to its canonical entity or person.",
      "name": "Resolve"
    },
    {
      "description": "Nested classification CRUD for entities",
      "name": "Entity Classifications"
    },
    {
      "description": "Public content cards: news, blog posts, social posts, repositories, websites, and papers",
      "name": "Content"
    },
    {
      "description": "Entity employee-count sub-resource: time series for an entity.",
      "name": "Entity Employee Count"
    },
    {
      "description": "Similar entity discovery",
      "name": "Entity Similarity"
    },
    {
      "description": "Session management and user info endpoints",
      "name": "Auth Session"
    },
    {
      "description": "Typed research details and snippets for entities, with snippet provenance",
      "name": "Entity Research"
    },
    {
      "description": "Search the entity classification tag catalog. Use this to look up tagId values before posting to /v1/entities/{id}/classifications.",
      "name": "Classification Tags"
    },
    {
      "description": "Person investment portfolio sub-resource: paginated investments made by a person, looked up by id or slug, sortable by date/round/amount/amountInvested.",
      "name": "Person Investments"
    },
    {
      "description": "Nested address CRUD for entities. Country code is looked up in res_address_country_ref (404 if unknown); state and city are find-or-create on their reference tables; address rows resolve by canonical address fields.",
      "name": "Entity Addresses"
    },
    {
      "description": "Entity relationship endpoints",
      "name": "Entity Relationships"
    },
    {
      "description": "Authenticated personal API-key lifecycle",
      "name": "Personal API Key"
    },
    {
      "description": "External blog and article links for entities and people",
      "name": "Research Blog Posts"
    },
    {
      "description": "CRUD endpoints for news articles joined to entities",
      "name": "Entity News"
    },
    {
      "description": "System health and status endpoints",
      "name": "System"
    },
    {
      "description": "Per-domain slug changes and redirect rows",
      "name": "URL Slug Redirects"
    },
    {
      "description": "CRUD endpoints for news articles joined to people",
      "name": "Person News"
    },
    {
      "description": "Where any stored field value came from: its source, method, and time",
      "name": "Data Provenance"
    },
    {
      "description": "Canonical nested physical-address groups for people. Country code is looked up in res_address_country_ref; state and city are resolved or created from source-backed names.",
      "name": "Person Addresses"
    },
    {
      "description": "Global metrics (cached, refreshed frequently) for homepage/overview use",
      "name": "Metrics"
    },
    {
      "description": "Similar person discovery",
      "name": "Person Similarity"
    },
    {
      "description": "GitHub repositories synced per entity or person owner.",
      "name": "Repositories"
    },
    {
      "description": "Administrative tools for entity data maintenance",
      "name": "Entity Maintenance"
    },
    {
      "description": "Entity valuation time-series reads and writes.",
      "name": "Entity Financial Valuation"
    }
  ],
  "paths": {
    "/images/monograms/{seed}.svg": {
      "get": {
        "description": "Returns cached fallback SVG.",
        "operationId": "getMonogramImage",
        "parameters": [
          {
            "description": "Seed used to render the deterministic monogram",
            "in": "path",
            "name": "seed",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "image/svg+xml": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Found"
          },
          "406": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "429": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "summary": "Render a deterministic monogram SVG",
        "tags": [
          "Media"
        ],
        "x-aventure-visibility": {
          "scope": "public"
        }
      }
    },
    "/info": {
      "get": {
        "description": "Returns typed build metadata equivalent to the actuator info build payload",
        "operationId": "info",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemBuild"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Bad Request"
          },
          "406": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "429": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "summary": "Get build metadata",
        "tags": [
          "System"
        ],
        "x-aventure-visibility": {
          "scope": "public"
        }
      }
    },
    "/v1/addresses/locations/batch": {
      "post": {
        "description": "Fetch the location directory, exact letter counts, and optional company URL slots in one request.",
        "operationId": "batch",
        "parameters": [
          {
            "description": "Zero-based page index (0..N)",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "description": "The size of the page to be returned",
            "in": "query",
            "name": "size",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 1
            }
          },
          {
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LocationSitemapBatch"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Forbidden"
          },
          "406": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "409": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Conflict"
          },
          "410": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationSitemap"
                }
              }
            },
            "description": "The slug's canonical token resolves to a real location with no publishable companies; the body carries slugResolution.outcome=unpublished so crawlers drop the URL permanently."
          },
          "415": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unsupported Media Type"
          },
          "422": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unprocessable Content"
          },
          "429": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "adminApiKeyAuth": []
          },
          {
            "clientSecretAuth": []
          }
        ],
        "summary": "Batch directory + companies payload",
        "tags": [
          "Addresses"
        ],
        "x-aventure-visibility": {
          "scope": "public"
        }
      }
    },
    "/v1/addresses/locations/{scope}": {
      "get": {
        "description": "Paginated directory of locations filtered by scope and starting letter",
        "operationId": "listLocations",
        "parameters": [
          {
            "description": "Location scope (countries, states, cities)",
            "example": "countries",
            "in": "path",
            "name": "scope",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Accepted location scope tokens for path and batch inputs",
              "enum": [
                "country",
                "COUNTRY",
                "countries",
                "COUNTRIES",
                "state",
                "STATE",
                "states",
                "STATES",
                "city",
                "CITY",
                "cities",
                "CITIES"
              ],
              "example": "countries"
            }
          },
          {
            "description": "Starting letter filter",
            "example": "A",
            "in": "query",
            "name": "letter",
            "required": false,
            "schema": {
              "type": "string",
              "default": "A"
            }
          },
          {
            "description": "Zero-based page index (0..N)",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "description": "The size of the page to be returned",
            "in": "query",
            "name": "size",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 1
            }
          },
          {
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageLocationDirectoryEntry"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Found"
          },
          "406": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "429": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "summary": "List locations by scope",
        "tags": [
          "Addresses"
        ],
        "x-aventure-visibility": {
          "scope": "public"
        }
      }
    },
    "/v1/addresses/locations/{scope}/{slug}": {
      "get": {
        "description": "Paginated list of companies in a specific location, filtered by starting letter",
        "operationId": "listCompanies",
        "parameters": [
          {
            "description": "Location scope (countries, states, cities)",
            "example": "states",
            "in": "path",
            "name": "scope",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Accepted location scope tokens for path and batch inputs",
              "enum": [
                "country",
                "COUNTRY",
                "countries",
                "COUNTRIES",
                "state",
                "STATE",
                "states",
                "STATES",
                "city",
                "CITY",
                "cities",
                "CITIES"
              ],
              "example": "countries"
            }
          },
          {
            "description": "Location URL-friendly identifier (slug)",
            "example": "california",
            "in": "path",
            "name": "slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Starting letter filter",
            "example": "S",
            "in": "query",
            "name": "letter",
            "required": false,
            "schema": {
              "type": "string",
              "default": "A"
            }
          },
          {
            "description": "Return only pagination totals with empty content",
            "example": true,
            "in": "query",
            "name": "countOnly",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Zero-based page index (0..N)",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "description": "The size of the page to be returned",
            "in": "query",
            "name": "size",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 1
            }
          },
          {
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageEntity"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Found"
          },
          "406": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "429": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "summary": "List companies by location",
        "tags": [
          "Addresses"
        ],
        "x-aventure-visibility": {
          "scope": "public"
        }
      }
    },
    "/v1/agents/help": {
      "post": {
        "description": "Retrieves the most relevant operations, skills, and completion gates, then returns a grounded, citation-bearing answer. Unsupported questions abstain (LOW confidence) rather than invent a command. Bearer access requires ROLE_ADMIN or ROLE_CLIENT.",
        "operationId": "answerAgentHelpQuestion",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentHelpQuestion"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentHelp"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Forbidden"
          },
          "406": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "409": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Conflict"
          },
          "415": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unsupported Media Type"
          },
          "422": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unprocessable Content"
          },
          "429": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "adminApiKeyAuth": []
          },
          {
            "clientSecretAuth": []
          }
        ],
        "summary": "Answer a natural-language platform help question",
        "tags": [
          "Agent Help"
        ],
        "x-aventure-tool": {
          "cli": "help ask"
        },
        "x-aventure-visibility": {
          "scope": "public"
        }
      }
    },
    "/v1/agents/instructions/manifest": {
      "get": {
        "description": "Returns the latest-pointer manifest of versioned prompt and skill documents. Bearer access requires ROLE_ADMIN or ROLE_CLIENT.",
        "operationId": "getAgentInstructionManifest",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentInstructionManifest"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Forbidden"
          },
          "406": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "429": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "adminApiKeyAuth": []
          },
          {
            "clientSecretAuth": []
          }
        ],
        "summary": "Get the agent instruction manifest",
        "tags": [
          "Agent Instructions"
        ],
        "x-aventure-tool": {
          "cli": "agents instructions list"
        },
        "x-aventure-visibility": {
          "scope": "public"
        }
      }
    },
    "/v1/agents/instructions/{kind}/{name}": {
      "get": {
        "description": "Returns the current version and markdown content for one prompt, skill, or agent. Bearer access requires ROLE_ADMIN or ROLE_CLIENT.",
        "operationId": "getAgentInstruction",
        "parameters": [
          {
            "description": "Document kind: prompt, skill, or agent",
            "in": "path",
            "name": "kind",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/AgentInstructionKind"
            }
          },
          {
            "description": "Manifest name of the document",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentInstructionDetail"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Found"
          },
          "406": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "429": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "adminApiKeyAuth": []
          },
          {
            "clientSecretAuth": []
          }
        ],
        "summary": "Get one agent instruction document",
        "tags": [
          "Agent Instructions"
        ],
        "x-aventure-visibility": {
          "scope": "public"
        }
      }
    },
    "/v1/agents/instructions/{kind}/{name}/versions/{version}": {
      "get": {
        "description": "Returns an immutable prompt, skill, or agent document by name and version. Bearer access requires ROLE_ADMIN or ROLE_CLIENT.",
        "operationId": "getAgentInstructionVersion",
        "parameters": [
          {
            "description": "Document kind: prompt, skill, or agent",
            "in": "path",
            "name": "kind",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/AgentInstructionKind"
            }
          },
          {
            "description": "Manifest name of the document",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Immutable content version",
            "in": "path",
            "name": "version",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentInstructionDetail"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Found"
          },
          "406": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "429": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "adminApiKeyAuth": []
          },
          {
            "clientSecretAuth": []
          }
        ],
        "summary": "Get one agent instruction document version",
        "tags": [
          "Agent Instructions"
        ],
        "x-aventure-visibility": {
          "scope": "public"
        }
      }
    },
    "/v1/auth/cli-authorizations": {
      "post": {
        "description": "Creates a short-lived browser approval request and returns its poll credential once.",
        "operationId": "createCliAuthorization",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CliAuthorizationMutation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CliAuthorizationStart"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Bad Request"
          },
          "406": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "409": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Conflict"
          },
          "415": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unsupported Media Type"
          },
          "422": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unprocessable Content"
          },
          "429": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "summary": "Start CLI authorization",
        "tags": [
          "CLI Authorizations"
        ],
        "x-aventure-cli-composite": {
          "bodyOption": [
            "clientLabel"
          ],
          "command": "auth personal-login",
          "localOption": [
            {
              "optionKey": "browser",
              "flag": "--no-browser",
              "description": "Print the approval URL without launching a browser."
            }
          ],
          "role": "start"
        },
        "x-aventure-visibility": {
          "scope": "public"
        }
      }
    },
    "/v1/auth/cli-authorizations/{cliAuthorizationId}/acknowledge": {
      "post": {
        "description": "Confirms the CLI stored the delivered personal key in its OS credential store and clears transient delivery material.",
        "operationId": "acknowledgeCliAuthorization",
        "parameters": [
          {
            "description": "Public CLI authorization request identifier",
            "in": "path",
            "name": "cliAuthorizationId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "description": "One-time poll credential returned by request creation",
            "in": "header",
            "name": "X-Cli-Poll-Secret",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CliAuthorization"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Found"
          },
          "406": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "409": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Conflict"
          },
          "429": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "summary": "Acknowledge CLI credential delivery",
        "tags": [
          "CLI Authorizations"
        ],
        "x-aventure-cli-composite": {
          "command": "auth personal-login",
          "role": "acknowledge"
        },
        "x-aventure-visibility": {
          "scope": "public"
        }
      }
    },
    "/v1/auth/cli-authorizations/{cliAuthorizationId}/poll": {
      "post": {
        "description": "Returns pending state, a terminal state, or an encrypted one-time credential delivery.",
        "operationId": "pollCliAuthorization",
        "parameters": [
          {
            "description": "Public CLI authorization request identifier",
            "in": "path",
            "name": "cliAuthorizationId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "description": "One-time poll credential returned by request creation",
            "in": "header",
            "name": "X-Cli-Poll-Secret",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CliAuthorizationPoll"
                }
              }
            },
            "description": "Authorization is still pending or issuing"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Found"
          },
          "406": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "409": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Conflict"
          },
          "429": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "summary": "Poll CLI authorization",
        "tags": [
          "CLI Authorizations"
        ],
        "x-aventure-cli-composite": {
          "command": "auth personal-login",
          "role": "poll"
        },
        "x-aventure-visibility": {
          "scope": "public"
        }
      }
    },
    "/v1/auth/me/permissions": {
      "get": {
        "description": "Returns resolved roles and permissions for Clerk session or OAuth authentication, explicit personal API-key permissions, full admin API-key permissions, or an empty grant for a client secret.",
        "operationId": "currentPermissions",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthPermissionGrant"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Forbidden"
          },
          "406": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "429": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "adminApiKeyAuth": []
          },
          {
            "clientSecretAuth": []
          }
        ],
        "summary": "Current user permissions",
        "tags": [
          "Auth Session"
        ],
        "x-aventure-visibility": {
          "scope": "public"
        }
      },
      "post": {
        "description": "Returns the supplied generated API operations that the current caller may call, alongside its existing permission grant and access class. Candidate operations are checked without being executed.",
        "operationId": "authorizeOperations",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthOperationFilter"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthOperationAuthorization"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Forbidden"
          },
          "406": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "409": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Conflict"
          },
          "415": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unsupported Media Type"
          },
          "422": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unprocessable Content"
          },
          "429": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "adminApiKeyAuth": []
          },
          {
            "clientSecretAuth": []
          }
        ],
        "summary": "Authorize API operations",
        "tags": [
          "Auth Session"
        ],
        "x-aventure-visibility": {
          "scope": "public"
        }
      }
    },
    "/v1/auth/personal-api-key": {
      "delete": {
        "description": "Revokes the stored personal key and returns provider metadata so the CLI can confirm remote revocation before removing local bytes.",
        "operationId": "revokeCurrentPersonalApiKey",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalApiKey"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Forbidden"
          },
          "406": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "409": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Conflict"
          },
          "429": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Revoke current personal API key",
        "tags": [
          "Personal API Key"
        ],
        "x-aventure-cli-composite": {
          "command": "auth personal-logout",
          "localOption": [
            {
              "optionKey": "forgetLocal",
              "flag": "--forget-local",
              "description": "Remove local bytes even when remote revocation cannot be confirmed."
            }
          ],
          "role": "revoke"
        },
        "x-aventure-visibility": {
          "scope": "public"
        }
      },
      "get": {
        "description": "Returns provider metadata for the personal API key authenticating this request.",
        "operationId": "getCurrentPersonalApiKey",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalApiKey"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Forbidden"
          },
          "406": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "429": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get current personal API key",
        "tags": [
          "Personal API Key"
        ],
        "x-aventure-visibility": {
          "scope": "public"
        }
      }
    },
    "/v1/auth/providers": {
      "get": {
        "description": "Sign-in provider availability and CLI OAuth configuration. Public — callers read it before any session exists. A non-null Clerk publishable key offers browser sign-in; a non-null OAuth client offers the PKCE CLI sign-in lane.",
        "operationId": "getAuthProviderCatalog",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthProviderCatalog"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Bad Request"
          },
          "406": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "429": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "summary": "Get the public authentication provider catalog",
        "tags": [
          "Auth",
          "Providers"
        ],
        "x-aventure-cli-composite": {
          "command": "auth login",
          "localOption": [
            {
              "optionKey": "browser",
              "flag": "--no-browser",
              "description": "Print the authorization URL without opening a browser."
            }
          ],
          "role": "oauth"
        },
        "x-aventure-tool": {
          "auth": "none"
        },
        "x-aventure-visibility": {
          "scope": "public"
        }
      }
    },
    "/v1/classifications": {
      "get": {
        "description": "Returns a paginated list of editorial tags and standardized classifications. Filter by category using any bucket or standardized category spelling listed by the catalog. Results expose writable/creatable policy so callers know whether to join by id or create by type plus name. Sorting is not supported — sort returns 422.",
        "operationId": "searchClassifications",
        "parameters": [
          {
            "description": "Classification bucket or standardized category. Case- and punctuation-insensitive.",
            "example": "industry",
            "in": "query",
            "name": "category",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Case-insensitive name substring filter (e.g. 'enterprise').",
            "example": "enterprise",
            "in": "query",
            "name": "q",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Zero-based page index (0..N)",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "description": "The size of the page to be returned",
            "in": "query",
            "name": "size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageClassification"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Forbidden"
          },
          "406": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "429": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "adminApiKeyAuth": []
          },
          {
            "clientSecretAuth": []
          }
        ],
        "summary": "Search classifications",
        "tags": [
          "Classification Tags"
        ],
        "x-aventure-tool": {
          "cli": "classifications search get"
        },
        "x-aventure-visibility": {
          "scope": "public"
        }
      }
    },
    "/v1/classifications/catalog": {
      "get": {
        "description": "Returns active classification buckets with optional tag lists. Each bucket carries its canonical `type`, accepted `alias[]` spellings, `tagCount`, and (when includeTags=true) the active `tag[]`. Use bucketType to scope to one bucket and includeTags=false to fetch metadata only. For tag ids, prefer `classifications tags --type <bucket> --q <name>` over broad catalog JSON; use returned tag.id as EntityClassificationMutation.tagId when writing classifications. Dormant registry tags are intentionally omitted; type + name writes that find one return 409 with inactiveTagOverride recovery choices.",
        "operationId": "getCatalog",
        "parameters": [
          {
            "description": "Optional classification bucket. Accepts the same values as the tags endpoint type parameter.",
            "example": "industry",
            "in": "query",
            "name": "bucketType",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "When false, returns bucket metadata without tag arrays. For tag ids, prefer `classifications tags` with type and q filters instead of broad catalog JSON.",
            "in": "query",
            "name": "includeTags",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassificationCatalog"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Forbidden"
          },
          "406": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "429": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "adminApiKeyAuth": []
          },
          {
            "clientSecretAuth": []
          }
        ],
        "summary": "Fetch the entity classification taxonomy",
        "tags": [
          "Classification Tags"
        ],
        "x-aventure-visibility": {
          "scope": "public"
        }
      }
    },
    "/v1/classifications/tags": {
      "get": {
        "description": "Returns a paginated list of active tags from the entity classification registry. Filter by bucket via `type` (any spelling listed on the corresponding ClassificationCatalogBucket — `type` plus its `alias[]`) and optionally by a name keyword via `q`. Results are ordered by bucket then by name; sorting is not supported — `sort` returns 422. Dormant registry tags are not returned by this read surface.",
        "operationId": "searchTags",
        "parameters": [
          {
            "description": "Classification bucket. Case- and punctuation-insensitive. Accepts the bucket wire value or any entry from its `alias[]` — discover both via GET /v1/classifications/catalog?includeTags=false.",
            "example": "revenueModel",
            "in": "query",
            "name": "type",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Case-insensitive name substring filter (e.g. 'enterprise').",
            "example": "enterprise",
            "in": "query",
            "name": "q",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Zero-based page index (0..N)",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "description": "The size of the page to be returned",
            "in": "query",
            "name": "size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageEntityTag"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Forbidden"
          },
          "406": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "429": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "adminApiKeyAuth": []
          },
          {
            "clientSecretAuth": []
          }
        ],
        "summary": "Search entity classification tags",
        "tags": [
          "Classification Tags"
        ],
        "x-aventure-tool": {
          "cli": "classifications tags search"
        },
        "x-aventure-visibility": {
          "scope": "public"
        }
      }
    },
    "/v1/content": {
      "get": {
        "description": "Returns a paged public content index across supported source owners. Bearer access requires ROLE_ADMIN or ROLE_CLIENT.",
        "operationId": "listContent",
        "parameters": [
          {
            "description": "Topic key or source category.",
            "in": "query",
            "name": "topic",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Topic key or source category."
            }
          },
          {
            "description": "Public content type filter.",
            "in": "query",
            "name": "contentType",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ContentType"
            }
          },
          {
            "description": "Owner relation filter.",
            "in": "query",
            "name": "relation",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ContentRelation"
            }
          },
          {
            "description": "Best-effort content year filter.",
            "in": "query",
            "name": "year",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Best-effort content year filter."
            }
          },
          {
            "description": "Zero-based page index (0..N)",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "description": "The size of the page to be returned",
            "in": "query",
            "name": "size",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1
            }
          },
          {
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "Set true for first-page content-existence probes that do not need exact totals or stable ordering.",
            "in": "query",
            "name": "existenceProbe",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageContent"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Forbidden"
          },
          "406": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "429": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "adminApiKeyAuth": []
          },
          {
            "clientSecretAuth": []
          }
        ],
        "summary": "List content",
        "tags": [
          "Content"
        ],
        "x-aventure-tool": {
          "cli": "content list"
        },
        "x-aventure-visibility": {
          "scope": "public"
        }
      }
    },
    "/v1/content/search": {
      "post": {
        "description": "Translates plain-English content constraints into canonical filters. Bearer access requires ROLE_ADMIN or ROLE_CLIENT.",
        "operationId": "searchContent",
        "parameters": [
          {
            "description": "Zero-based page index (0..N)",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "description": "The size of the page to be returned",
            "in": "query",
            "name": "size",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1
            }
          },
          {
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NaturalSearch"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentSearchResult"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Forbidden"
          },
          "406": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "409": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Conflict"
          },
          "415": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unsupported Media Type"
          },
          "422": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unprocessable Content"
          },
          "429": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "adminApiKeyAuth": []
          },
          {
            "clientSecretAuth": []
          }
        ],
        "summary": "Search content",
        "tags": [
          "Content"
        ],
        "x-aventure-tool": {
          "cli": "content search"
        },
        "x-aventure-visibility": {
          "scope": "public"
        }
      }
    },
    "/v1/entities": {
      "get": {
        "description": "Browse paginated entity records or apply explicit query filters. entityName is an exact normalized brand/legal-name filter; textSearch is keyword/full-text search. Organization expands to the canonical organization type group. For a plain-English or multi-constraint company request, use the search entities command (POST /v1/entities/natural-search) instead. Set semanticQuery for semantic nearest-neighbor ranking over stored content embeddings; semanticQuery uses the live priority embeddings tier and returns semanticMatch evidence. countOnly is unsupported when semanticQuery is present; count-only pages have no content, so read totalElements rather than empty. Default public visibility can filter hidden/off-sitemap records and does not prove create safety; use duplicate-check before writes that need identity review.",
        "operationId": "listEntities",
        "parameters": [
          {
            "description": "Restrict results to specific entity IDs.",
            "in": "query",
            "name": "entityId",
            "required": false,
            "schema": {
              "type": "array",
              "description": "Restrict results to specific entity IDs.",
              "items": {
                "type": "string",
                "format": "uuid",
                "description": "Canonical entity UUID"
              }
            }
          },
          {
            "description": "Restrict results to entity slugs.",
            "in": "query",
            "name": "slug",
            "required": false,
            "schema": {
              "type": "array",
              "description": "Restrict results to entity slugs.",
              "items": {
                "type": "string",
                "description": "Canonical lowercase URL slug for the resource",
                "example": "aventure-vc",
                "maxLength": 255,
                "pattern": "^[a-z0-9_-]+$"
              }
            }
          },
          {
            "description": "Exact normalized match against entity brand or legal names.",
            "in": "query",
            "name": "entityName",
            "required": false,
            "schema": {
              "type": "array",
              "description": "Exact normalized match against entity brand or legal names.",
              "items": {
                "type": "string",
                "description": "Exact normalized match against entity brand or legal names."
              }
            }
          },
          {
            "description": "Entity type filter. Organization expands to Company, Investment Firm, Nonprofit, and Government; omit to include every entity type.",
            "in": "query",
            "name": "typeRecord",
            "required": false,
            "schema": {
              "type": "array",
              "description": "Entity type filter. Organization expands to Company, Investment Firm, Nonprofit, and Government; omit to include every entity type.",
              "items": {
                "$ref": "#/components/schemas/EntityType"
              }
            }
          },
          {
            "description": "Industry classification values.",
            "in": "query",
            "name": "industry",
            "required": false,
            "schema": {
              "type": "array",
              "description": "Industry classification values.",
              "items": {
                "type": "string",
                "description": "Industry classification values."
              }
            }
          },
          {
            "description": "Geographic classification values.",
            "in": "query",
            "name": "location",
            "required": false,
            "schema": {
              "type": "array",
              "description": "Geographic classification values.",
              "items": {
                "type": "string",
                "description": "Geographic classification values."
              }
            }
          },
          {
            "description": "General classification tag values.",
            "in": "query",
            "name": "tag",
            "required": false,
            "schema": {
              "type": "array",
              "description": "General classification tag values.",
              "items": {
                "type": "string",
                "description": "General classification tag values."
              }
            }
          },
          {
            "description": "Main product classification values.",
            "in": "query",
            "name": "mainProduct",
            "required": false,
            "schema": {
              "type": "array",
              "description": "Main product classification values.",
              "items": {
                "type": "string",
                "description": "Main product classification values."
              }
            }
          },
          {
            "description": "Technology-used classification values.",
            "in": "query",
            "name": "typeTechnologyUsed",
            "required": false,
            "schema": {
              "type": "array",
              "description": "Technology-used classification values.",
              "items": {
                "type": "string",
                "description": "Technology-used classification values."
              }
            }
          },
          {
            "description": "Business-model classification values.",
            "in": "query",
            "name": "typeModel",
            "required": false,
            "schema": {
              "type": "array",
              "description": "Business-model classification values.",
              "items": {
                "type": "string",
                "description": "Business-model classification values."
              }
            }
          },
          {
            "description": "Ownership-model classification values.",
            "in": "query",
            "name": "typeOwnership",
            "required": false,
            "schema": {
              "type": "array",
              "description": "Ownership-model classification values.",
              "items": {
                "type": "string",
                "description": "Ownership-model classification values."
              }
            }
          },
          {
            "description": "Customer-type classification values.",
            "in": "query",
            "name": "typeCustomer",
[...]
