{
  "openapi": "3.1.0",
  "info": {
    "contact": {
      "email": "team@aventure.vc",
      "name": "aVenture"
    },
    "description": "Public API docs for aVenture.vc, private company research data on their staff/team, products & services, fundraising and investors, and more.",
    "title": "aVenture Public API Docs",
    "version": "0.7.264"
  },
  "externalDocs": {
    "description": "Documentation and GitHub repositories: [aventure-docs](https://github.com/aventurevc/aventure-docs), [aventure-cli](https://github.com/aventurevc/aventure-cli), [aventure-mcp](https://github.com/aventurevc/aventure-mcp), [aventure-api](https://github.com/aventurevc/aventure-api).",
    "url": "https://docs.aventure.vc"
  },
  "servers": [
    {
      "url": "https://api.aventure.vc",
      "description": "aVenture API"
    }
  ],
  "tags": [
    {
      "description": "Entity filter discovery: tag counts, type counts, refinement metadata, and option set search used to drive entity-listing UIs.",
      "name": "Entity Filters"
    },
    {
      "description": "Canonical nested address CRUD for entities. Country code is looked up in res_address_country_ref (404 if unknown); state and city are find-or-create on their reference tables; address rows resolve by canonical address fields.",
      "name": "Entity Addresses Canonical"
    },
    {
      "description": "Canonical nested classification CRUD for entities",
      "name": "Entity Classifications Canonical"
    },
    {
      "description": "Canonical v1 endpoints for Entity domain (Company, Investment Firm). Supports hasRealLogo filter and canonical images flags.",
      "name": "Entities V1"
    },
    {
      "description": "Person filter, letter-count, and search metadata endpoints used to drive people-listing UI affordances.",
      "name": "Person Metadata"
    },
    {
      "description": "Linker candidate feed for entity/person matching",
      "name": "News Linker"
    },
    {
      "description": "Logos, photos, and thumbnails for companies, people, and news",
      "name": "Media"
    },
    {
      "description": "Universal identifier resolver: map any handle — stable public id, UUID, external registry id (ticker, LEI, EIN, ...), or slug — to its canonical entity or person.",
      "name": "Resolve"
    },
    {
      "description": "Read-only standardized classification audit across the entity fleet",
      "name": "Entity Classifications Audit"
    },
    {
      "description": "Crawl screenshot metadata endpoints — S3 key is the binary asset source of truth",
      "name": "Screenshots"
    },
    {
      "description": "Public content cards: news, blog posts, social posts, repositories, websites, and papers",
      "name": "Content"
    },
    {
      "description": "Entity and person text endpoints.",
      "name": "Texts"
    },
    {
      "description": "Companies, funds, investors, accelerators, and other organizations",
      "name": "Entities"
    },
    {
      "description": "Entity employee-count sub-resource: time series for an entity.",
      "name": "Entity Employee Count"
    },
    {
      "description": "Similar entity discovery",
      "name": "Entity Similarity"
    },
    {
      "description": "Unified embedding write/read endpoints",
      "name": "Content Embedding"
    },
    {
      "description": "Canonical acquisition event CRUD. The path entity is acquired; acquirerEntityId is the buyer.",
      "name": "Entity Acquisitions"
    },
    {
      "description": "Session management and user info endpoints",
      "name": "Auth Session"
    },
    {
      "description": "Typed research details and snippets for entities, with snippet provenance",
      "name": "Entity Research"
    },
    {
      "description": "Search the entity classification tag catalog. Use this to look up tagId values before posting to /v1/entities/{id}/classifications.",
      "name": "Classification Tags"
    },
    {
      "description": "Batch person list and detail endpoints.",
      "name": "Person Batch"
    },
    {
      "description": "Async logo moderation audit jobs",
      "name": "Logo Audit"
    },
    {
      "description": "Person investment portfolio sub-resource: paginated investments made by a person, looked up by id or slug, sortable by date/round/amount/amountInvested.",
      "name": "Person Investments"
    },
    {
      "description": "Canonical v1 endpoints for People domain",
      "name": "People V1"
    },
    {
      "description": "Search companies, people, and news together, or search the live web",
      "name": "Search"
    },
    {
      "description": "Accepted automated-agent runtime chassis tokens",
      "name": "Agent Chassis"
    },
    {
      "description": "Entity relationship endpoints",
      "name": "Entity Relationships"
    },
    {
      "description": "Atomic standardized classification reconciliation to a desired exact set",
      "name": "Entity Classifications Reconcile"
    },
    {
      "description": "Authenticated personal API-key lifecycle",
      "name": "Personal API Key"
    },
    {
      "description": "Enrichment completion-gate catalog and per-entity floor coverage.",
      "name": "Completion Gates"
    },
    {
      "description": "External blog and article links for entities and people",
      "name": "Research Blog Posts"
    },
    {
      "description": "Canonical v1 endpoints for News domain",
      "name": "News V1"
    },
    {
      "description": "Async media variant backfill plus entity/person/news reference repair jobs",
      "name": "Media Retrofit"
    },
    {
      "description": "Founders, executives, and investors in the venture ecosystem",
      "name": "People"
    },
    {
      "description": "CRUD endpoints for news articles joined to entities",
      "name": "Entity News"
    },
    {
      "description": "Person-entity association routes",
      "name": "Entity Person Associations"
    },
    {
      "description": "SEC EDGAR filings, tickers, and CIKs for public companies",
      "name": "SEC"
    },
    {
      "description": "Versioned agent prompt and skill documents",
      "name": "Agent Instructions"
    },
    {
      "description": "Related companies, trending news, and batch ingestion",
      "name": "Semantic Similarity"
    },
    {
      "description": "Funding rounds and their participating investors for an entity",
      "name": "Entity Fundraise"
    },
    {
      "description": "Venture news articles linked to companies and people",
      "name": "News"
    },
    {
      "description": "System health and status endpoints",
      "name": "System"
    },
    {
      "description": "Grounded natural-language platform help with citations",
      "name": "Agent Help"
    },
    {
      "description": "Per-domain slug changes and redirect rows",
      "name": "URL Slug Redirects"
    },
    {
      "description": "Website crawl runs for companies and people, including manual job kicks",
      "name": "Crawl Runs"
    },
    {
      "description": "CRUD endpoints for news articles joined to people",
      "name": "Person News"
    },
    {
      "description": "Where any stored field value came from: its source, method, and time",
      "name": "Data Provenance"
    },
    {
      "description": "Canonical nested physical-address groups for people. Country code is looked up in res_address_country_ref; state and city are resolved or created from source-backed names.",
      "name": "Person Addresses"
    },
    {
      "description": "External identifier mappings (EIN, SEC CIK, ticker, LEI, DUNS, ...) for entities and people, plus reverse lookup from an identifier to its owner.",
      "name": "Unique IDs"
    },
    {
      "description": "Browser-approved CLI credential delivery",
      "name": "CLI Authorizations"
    },
    {
      "description": "Similar person discovery",
      "name": "Person Similarity"
    },
    {
      "description": "Entity and person URL link endpoints.",
      "name": "URL Links"
    },
    {
      "description": "GitHub repositories synced per entity or person owner.",
      "name": "Repositories"
    },
    {
      "description": "Advisory, non-exhaustive per-slot semantic suggestions with completion coverage.",
      "name": "Entity Suggestions"
    },
    {
      "description": "Authenticated hosted billing operations",
      "name": "Billing"
    },
    {
      "description": "Administrative tools for entity data maintenance",
      "name": "Entity Maintenance"
    },
    {
      "description": "Entity valuation time-series reads and writes.",
      "name": "Entity Financial Valuation"
    }
  ],
  "paths": {
    "/info": {
      "get": {
        "description": "Returns typed build metadata equivalent to the actuator info build payload",
        "operationId": "info",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemBuild"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Bad Request"
          },
          "406": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "429": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "summary": "Get build metadata",
        "tags": [
          "System"
        ],
        "x-aventure-visibility": {
          "scope": "public"
        }
      }
    },
    "/v1/agents/chassis": {
      "get": {
        "description": "Returns the sorted agent runtime chassis tokens accepted by the API to administrators.",
        "operationId": "listAgentChassis",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentChassisCatalog"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Forbidden"
          },
          "406": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "429": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "adminApiKeyAuth": []
          }
        ],
        "summary": "List accepted agent chassis",
        "tags": [
          "Agent Chassis"
        ]
      }
    },
    "/v1/agents/help": {
      "post": {
        "description": "Retrieves the most relevant operations, skills, and completion gates, then returns a grounded, citation-bearing answer. Unsupported questions abstain (LOW confidence) rather than invent a command.",
        "operationId": "answerAgentHelpQuestion",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentHelpQuestion"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentHelp"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Forbidden"
          },
          "406": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "409": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Conflict"
          },
          "415": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unsupported Media Type"
          },
          "422": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unprocessable Content"
          },
          "429": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "adminApiKeyAuth": []
          },
          {
            "clientSecretAuth": []
          }
        ],
        "summary": "Answer a natural-language platform help question",
        "tags": [
          "Agent Help"
        ],
        "x-aventure-tool": {
          "cli": "help ask"
        }
      }
    },
    "/v1/agents/help/reindex": {
      "post": {
        "description": "Re-embeds the operation catalog, agent skills, and completion gates into the help vector partition. Admin-triggered so the corpus is populatable on demand.",
        "operationId": "reindexAgentHelp",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentHelpReindexResult"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Forbidden"
          },
          "406": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "409": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Conflict"
          },
          "429": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "adminApiKeyAuth": []
          }
        ],
        "summary": "Reindex the agent-help corpus",
        "tags": [
          "Agent Help"
        ]
      }
    },
    "/v1/agents/instructions": {
      "get": {
        "description": "Returns the latest-pointer manifest of versioned prompt and skill documents.",
        "operationId": "getAgentInstructionManifest",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentInstructionManifest"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Forbidden"
          },
          "406": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "429": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "adminApiKeyAuth": []
          },
          {
            "clientSecretAuth": []
          }
        ],
        "summary": "Get the agent instruction manifest",
        "tags": [
          "Agent Instructions"
        ]
      }
    },
    "/v1/agents/instructions/{kind}/{name}": {
      "get": {
        "description": "Returns the current version and markdown content for one prompt, skill, or agent.",
        "operationId": "getAgentInstruction",
        "parameters": [
          {
            "description": "Document kind: prompt, skill, or agent",
            "in": "path",
            "name": "kind",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/AgentInstructionKind"
            }
          },
          {
            "description": "Manifest name of the document",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentInstructionDetail"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Found"
          },
          "406": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "429": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "adminApiKeyAuth": []
          },
          {
            "clientSecretAuth": []
          }
        ],
        "summary": "Get one agent instruction document",
        "tags": [
          "Agent Instructions"
        ]
      }
    },
    "/v1/agents/instructions/{kind}/{name}/versions/{version}": {
      "get": {
        "description": "Returns an immutable prompt, skill, or agent document by name and version.",
        "operationId": "getAgentInstructionVersion",
        "parameters": [
          {
            "description": "Document kind: prompt, skill, or agent",
            "in": "path",
            "name": "kind",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/AgentInstructionKind"
            }
          },
          {
            "description": "Manifest name of the document",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Immutable content version",
            "in": "path",
            "name": "version",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentInstructionDetail"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Found"
          },
          "406": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "429": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "adminApiKeyAuth": []
          },
          {
            "clientSecretAuth": []
          }
        ],
        "summary": "Get one agent instruction document version",
        "tags": [
          "Agent Instructions"
        ]
      }
    },
    "/v1/auth/api/me/permissions": {
      "get": {
        "description": "Returns resolved role/permission sets for session JWT auth, explicit permissions for personal API-key auth, or full admin permission for admin API key auth",
        "operationId": "currentPermissions",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthPermissionGrant"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Forbidden"
          },
          "406": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "429": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "adminApiKeyAuth": []
          }
        ],
        "summary": "Current user permissions",
        "tags": [
          "Auth Session"
        ],
        "x-aventure-visibility": {
          "scope": "public"
        }
      }
    },
    "/v1/auth/cli-authorizations": {
      "post": {
        "description": "Creates a short-lived browser approval request and returns its poll credential once.",
        "operationId": "createCliAuthorization",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CliAuthorizationMutation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CliAuthorizationStart"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Bad Request"
          },
          "406": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "409": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Conflict"
          },
          "415": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unsupported Media Type"
          },
          "422": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unprocessable Content"
          },
          "429": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "summary": "Start CLI authorization",
        "tags": [
          "CLI Authorizations"
        ],
        "x-aventure-cli-composite": {
          "bodyOption": [
            "clientLabel"
          ],
          "command": "auth login",
          "localOption": [
            {
              "optionKey": "browser",
              "flag": "--no-browser",
              "description": "Print the approval URL without launching a browser."
            }
          ],
          "role": "start"
        },
        "x-aventure-visibility": {
          "scope": "public"
        }
      }
    },
    "/v1/auth/cli-authorizations/{cliAuthorizationId}/acknowledge": {
      "post": {
        "description": "Confirms the CLI stored the delivered personal key in its OS credential store and clears transient delivery material.",
        "operationId": "acknowledgeCliAuthorization",
        "parameters": [
          {
            "description": "Public CLI authorization request identifier",
            "in": "path",
            "name": "cliAuthorizationId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "description": "One-time poll credential returned by request creation",
            "in": "header",
            "name": "X-Cli-Poll-Secret",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CliAuthorization"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Found"
          },
          "406": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "409": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Conflict"
          },
          "429": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "summary": "Acknowledge CLI credential delivery",
        "tags": [
          "CLI Authorizations"
        ],
        "x-aventure-cli-composite": {
          "command": "auth login",
          "role": "acknowledge"
        },
        "x-aventure-visibility": {
          "scope": "public"
        }
      }
    },
    "/v1/auth/cli-authorizations/{cliAuthorizationId}/poll": {
      "post": {
        "description": "Returns pending state, a terminal state, or an encrypted one-time credential delivery.",
        "operationId": "pollCliAuthorization",
        "parameters": [
          {
            "description": "Public CLI authorization request identifier",
            "in": "path",
            "name": "cliAuthorizationId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "description": "One-time poll credential returned by request creation",
            "in": "header",
            "name": "X-Cli-Poll-Secret",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CliAuthorizationPoll"
                }
              }
            },
            "description": "Authorization is still pending or issuing"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Found"
          },
          "406": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "409": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Conflict"
          },
          "429": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "summary": "Poll CLI authorization",
        "tags": [
          "CLI Authorizations"
        ],
        "x-aventure-cli-composite": {
          "command": "auth login",
          "role": "poll"
        },
        "x-aventure-visibility": {
          "scope": "public"
        }
      }
    },
    "/v1/auth/personal-api-key": {
      "get": {
        "description": "Returns provider metadata for the personal API key authenticating this request.",
        "operationId": "getCurrentPersonalApiKey",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalApiKey"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Forbidden"
          },
          "406": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "429": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get current personal API key",
        "tags": [
          "Personal API Key"
        ],
        "x-aventure-visibility": {
          "scope": "public"
        }
      },
      "delete": {
        "description": "Revokes the stored personal key and returns provider metadata so the CLI can confirm remote revocation before removing local bytes.",
        "operationId": "revokeCurrentPersonalApiKey",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalApiKey"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Forbidden"
          },
          "406": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "409": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Conflict"
          },
          "429": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Revoke current personal API key",
        "tags": [
          "Personal API Key"
        ],
        "x-aventure-cli-composite": {
          "command": "auth logout",
          "localOption": [
            {
              "optionKey": "forgetLocal",
              "flag": "--forget-local",
              "description": "Remove local bytes even when remote revocation cannot be confirmed."
            }
          ],
          "role": "revoke"
        },
        "x-aventure-visibility": {
          "scope": "public"
        }
      }
    },
    "/v1/billing/checkout-sessions": {
      "post": {
        "description": "Create an authenticated user's server-configured Pro Checkout Session.",
        "operationId": "createCheckout",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BillingCheckoutMutation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingCheckout"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Forbidden"
          },
          "406": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "409": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Conflict"
          },
          "415": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unsupported Media Type"
          },
          "422": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unprocessable Content"
          },
          "429": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create or recover a hosted Checkout Session",
        "tags": [
          "Billing"
        ]
      }
    },
    "/v1/billing/portal-sessions": {
      "post": {
        "description": "Open the authenticated user's approved Stripe Billing Portal configuration.",
        "operationId": "createPortal",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingPortal"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Forbidden"
          },
          "406": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "409": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Conflict"
          },
          "429": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create a hosted Billing Portal Session",
        "tags": [
          "Billing"
        ]
      }
    },
    "/v1/billing/subscription": {
      "get": {
        "description": "Return sanitized Essential or Pro subscription and entitlement state.",
        "operationId": "getSubscription",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingSubscription"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Forbidden"
          },
          "406": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "429": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Read the current billing subscription",
        "tags": [
          "Billing"
        ]
      }
    },
    "/v1/classifications/catalog": {
      "get": {
        "description": "Returns active classification buckets with optional tag lists. Each bucket carries its canonical `type`, accepted `alias[]` spellings, `tagCount`, and (when includeTags=true) the active `tag[]`. Use bucketType to scope to one bucket and includeTags=false to fetch metadata only. For tag ids, prefer `classifications tags --type <bucket> --q <name>` over broad catalog JSON; use returned tag.id as EntityClassificationMutation.tagId when writing classifications. Dormant registry tags are intentionally omitted; type + name writes that find one return 409 with inactiveTagOverride recovery choices.",
        "operationId": "getCatalog",
        "parameters": [
          {
            "description": "Optional classification bucket. Accepts the same values as the tags endpoint type parameter.",
            "example": "industry",
            "in": "query",
            "name": "bucketType",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "When false, returns bucket metadata without tag arrays. For tag ids, prefer `classifications tags` with type and q filters instead of broad catalog JSON.",
            "in": "query",
            "name": "includeTags",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassificationCatalog"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Forbidden"
          },
          "406": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "429": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "security": [
          {
            "clientSecretAuth": []
          }
        ],
        "summary": "Fetch the entity classification taxonomy",
        "tags": [
          "Classification Tags"
        ]
      }
    },
    "/v1/classifications/search": {
      "get": {
        "description": "Returns a paginated list of editorial tags and standardized classifications. Filter by category using any bucket or standardized category spelling listed by the catalog. Results expose writable/creatable policy so callers know whether to join by id or create by type plus name. Sorting is not supported — sort returns 422.",
        "operationId": "searchClassifications",
        "parameters": [
          {
            "description": "Classification bucket or standardized category. Case- and punctuation-insensitive.",
            "example": "industry",
            "in": "query",
            "name": "category",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Case-insensitive name substring filter (e.g. 'enterprise').",
            "example": "enterprise",
            "in": "query",
            "name": "q",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Zero-based page index (0..N)",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "description": "The size of the page to be returned",
            "in": "query",
            "name": "size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageClassification"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Forbidden"
          },
          "406": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "429": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "security": [
          {
            "clientSecretAuth": []
          }
        ],
        "summary": "Search classifications",
        "tags": [
          "Classification Tags"
        ]
      }
    },
    "/v1/classifications/tags": {
      "get": {
        "description": "Returns a paginated list of active tags from the entity classification registry. Filter by bucket via `type` (any spelling listed on the corresponding ClassificationCatalogBucket — `type` plus its `alias[]`) and optionally by a name keyword via `q`. Results are ordered by bucket then by name; sorting is not supported — `sort` returns 422. Dormant registry tags are not returned by this read surface.",
        "operationId": "searchTags",
        "parameters": [
          {
            "description": "Classification bucket. Case- and punctuation-insensitive. Accepts the bucket wire value or any entry from its `alias[]` — discover both via GET /v1/classifications/catalog?includeTags=false.",
            "example": "revenueModel",
            "in": "query",
            "name": "type",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Case-insensitive name substring filter (e.g. 'enterprise').",
            "example": "enterprise",
            "in": "query",
            "name": "q",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Zero-based page index (0..N)",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "description": "The size of the page to be returned",
            "in": "query",
            "name": "size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageEntityTag"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Forbidden"
          },
          "406": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "429": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "security": [
          {
            "clientSecretAuth": []
          }
        ],
        "summary": "Search entity classification tags",
        "tags": [
          "Classification Tags"
        ],
        "x-aventure-tool": {
          "cli": "classifications tags search"
        }
      }
    },
    "/v1/content": {
      "get": {
        "description": "Returns a paged public content index across supported source owners.",
        "operationId": "listContent",
        "parameters": [
          {
            "description": "Topic key or source category.",
            "in": "query",
            "name": "topic",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Topic key or source category."
            }
          },
          {
            "description": "Public content type filter.",
            "in": "query",
            "name": "contentType",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ContentType"
            }
          },
          {
            "description": "Owner relation filter.",
            "in": "query",
            "name": "relation",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ContentRelation"
            }
          },
          {
            "description": "Best-effort content year filter.",
            "in": "query",
            "name": "year",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Best-effort content year filter."
            }
          },
          {
            "description": "Zero-based page index (0..N)",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "description": "The size of the page to be returned",
            "in": "query",
            "name": "size",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1
            }
          },
          {
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "Set true for first-page content-existence probes that do not need exact totals or stable ordering.",
            "in": "query",
            "name": "existenceProbe",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageContent"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Forbidden"
          },
          "406": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "429": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "adminApiKeyAuth": []
          },
          {
            "clientSecretAuth": []
          }
        ],
        "summary": "List content",
        "tags": [
          "Content"
        ],
        "x-aventure-tool": {
          "cli": "content list"
        }
      }
    },
    "/v1/content/embedding": {
      "put": {
        "description": "Creates or replaces the embedding row for one unified content source and returns 204 with no response body.",
        "operationId": "upsertEmbedding",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContentEmbeddingMutation"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Forbidden"
          },
          "406": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "409": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Conflict"
          },
          "415": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unsupported Media Type"
          },
          "422": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unprocessable Content"
          },
          "429": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "adminApiKeyAuth": []
          }
        ],
        "summary": "Upsert unified content embedding",
        "tags": [
          "Content Embedding"
        ]
      }
    },
    "/v1/content/embedding/activity": {
      "get": {
        "description": "Returns entity/person embeddings created or recomputed in the trailing 24 hours, newest first and capped by limit. The similarity timestamp is the embedding-generation watermark through which the cache is current, not refresh completion time.",
        "operationId": "getOwnerActivity",
        "parameters": [
          {
            "description": "Maximum owner rows to return; default 200, maximum 500.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 200
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContentEmbeddingOwnerActivity"
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Forbidden"
          },
          "406": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "429": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "adminApiKeyAuth": []
          }
        ],
        "summary": "List recent content embedding owner activity",
        "tags": [
          "Content Embedding"
        ],
        "x-aventure-tool": {
          "cli": "content embedding activity list"
        }
      }
    },
    "/v1/content/embedding/backlog": {
      "get": {
        "description": "Returns primary and owner reconciliation status, exact refresh-work counts, and missing-owner counts.",
        "operationId": "getBacklogStatus",
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ContentEmbeddingBacklog"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Forbidden"
          },
          "406": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "429": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "adminApiKeyAuth": []
          }
        ],
        "summary": "Get content embedding backlog status",
        "tags": [
          "Content Embedding"
        ],
        "x-aventure-tool": {
          "cli": "content embedding backlog status"
        }
      },
      "put": {
        "description": "Enables both app-job-backed embedding recurring jobs when profile configuration permits live execution.",
        "operationId": "enableBacklog",
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ContentEmbeddingBacklog"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Forbidden"
          },
          "406": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "409": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Conflict"
          },
          "429": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "adminApiKeyAuth": []
          }
        ],
        "summary": "Enable content embedding backlog runs",
        "tags": [
          "Content Embedding"
        ]
      },
      "delete": {
        "description": "Disables both recurring embedding jobs and returns the updated backlog status.",
        "operationId": "disableBacklog",
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ContentEmbeddingBacklog"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Forbidden"
          },
          "406": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "409": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Conflict"
          },
          "429": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "adminApiKeyAuth": []
          }
        ],
        "summary": "Disable content embedding backlog runs",
        "tags": [
          "Content Embedding"
        ]
      }
    },
    "/v1/content/embedding/backlog/mode": {
      "put": {
        "description": "Sets the durable cluster-wide admission mode for content embedding and similarity work.",
        "operationId": "setBacklogMode",
        "parameters": [
          {
            "description": "Cluster admission mode",
            "in": "query",
            "name": "mode",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ContentEmbeddingClusterMode"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ContentEmbeddingBacklog"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Forbidden"
          },
          "406": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Not Acceptable"
          },
          "409": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Conflict"
          },
          "429": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "adminApiKeyAuth": []
          }
        ],
        "summary": "Set content embedding cluster mode",
        "tags": [
          "Content Embedding"
        ]
      }
    },
    "/v1/content/embedding/neighbors": {
      "get": {
        "description": "Returns nearest embedding neighbors for one source id.",
        "operationId": "neighbors",
        "parameters": [
          {
            "description": "Required unified content partition to act on, for example entity, person, or newsArticle.",
            "in": "query",
            "name": "contentSourceType",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ContentSourceType"
            }
          },
          {
            "description": "Unified content embedding source id of the query row",
            "in": "query",
            "name": "sourceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Content partition to search against for nearest-neighbor matches",
            "in": "query",
            "name": "targetType",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ContentSourceType"
            }
          },
          {
            "description": "Maximum nearest neighbors to return; default 10, configured maximum 50; larger values are clamped.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
[...]
